.services{
    background: $light-bg;

    h1{
        @include heading();
    }

    .box-container{
        @include grid(30rem);

        .box{
            text-align: center;
            background: $white;
            border: $border;
            box-shadow: $box-shadow;
            padding: 3rem 2rem;

            &:hover{
                background: $black;

                h3{
                    color: $white;
                }

                p{
                    color: $white;
                }
            }

            img{
                height: 7rem;
                margin-bottom: .5rem;
            }

            h3{
                @include titleText(2rem);
                padding: 1rem 0;
            }

            p{
                @include graphText(1.5rem);
            }
        }
    }
}